/*프로필 메인을 감싸는 div*/
.profileWrapper {
  width: 900px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*유저 정보 및 보관스토리를 감싸는 div*/
.infoWrapper {
  width: 900px;
  height: 400px;
  border-bottom: 1px solid #b9b9b9;
}

/*유저 정보를 감싸는 div*/
.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*유저 프로필 이미지를 감싸는 div*/
.infoImg {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
}

/*유저 프로필 이미지*/
.infoImg img {
  width: 206px;
  height: 206px;
}

/*유저 이름, 버튼, 팔로우 팔로워 게시물, 자기소개 를 감싸는 div*/
.infoDetail1 {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/*유저 이름*/
.infoDetail1 span {
  margin-left: 10px;
}

/*유저 프로필 편집, 보관된 스토리 보기 버튼*/
.infoDetail1 button {
  width: 150px;
  height: 30px;
  padding: 5px;
  margin-left: 15px;
  border: transparent;
  background-color: #efefef;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bold;
}

/*유저 프로필 편집, 보관된 스토리 보기 버튼 갖다 대었을 때*/
.infoDetail1 button:hover {
  background-color: #dbdbdb;
}

/*유저 게시물, 팔로우, 팔로워를 감싸는 div*/
.infoDetail2 {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/*유저 게시물, 팔로우, 팔로워 확인 링크*/
.infoDetail2 a {
  margin-left: 10px;
}

/*유저 게시물, 팔로우, 팔로워 타이틀*/
.infoDetail2 span {
  margin-left: 10px;
  font-weight: bold;
}
/*유저 프로필 셋팅 버튼 이미지*/
.setImg {
  margin-left: 10px;
  user-select: none;
}

/*유저 소개를 감싸는 div*/
.infoDetail3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/*유저 소개란*/
.infoDetail3 span {
  width: 700px;
  height: 150px;
  margin-left: 10px;
}

/*셋팅 이미지*/
.setImg img {
  width: 30px;
  height: 30px;
}

/*게시물이 보이는 아랫부분을 담당하는 div*/
.profilePosts {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*게시물, 저장됨, 태그됨 섹션을 이동하는 버튼을 감싸는 div*/
.profilePostsBtns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*게시물, 저장됨, 태그됨 중 머물러있는 페이지 버튼(색상 검정)*/
.profilePostsBtn {
  width: 100px;
  height: 30px;
  border: transparent;
  border-top: 1px solid black;
  background-color: white;
}

/*게시물, 저장됨, 태그됨 중 머물러있는 페이지 버튼에 갖다 대었을 때*/
.profilePostsBtn:hover {
  font-weight: bold;
}

/*게시물, 저장됨, 태그됨 중 머물러있는 페이지 버튼 이미지*/
.profilePostsBtn img {
  width: 12px;
  height: 12px;
}

/*게시물, 저장됨, 태그됨 중 머물러있는 페이지 버튼 텍스트*/
.profilePostsBtn span {
  margin-left: 8px;
  font-size: 15px;
}

/*게시물, 태그, 컬렉션 중 선택하지 않은 버튼들*/
.profilePostsBtn1 {
  width: 100px;
  height: 30px;
  border: transparent;
  background-color: white;
}

/*게시물, 태그, 컬렉션 중 선택하지 않은 버튼들 갖다 대었을 때*/
.profilePostsBtn1:hover {
  font-weight: bold;
}

/*게시물, 태그, 컬렉션 중 선택하지 않은 버튼 이미지*/
.profilePostsBtn1 img {
  width: 12px;
  height: 12px;
}

/*게시물, 태그, 컬렉션 중 선택하지 않은 버튼 텍스트*/
.profilePostsBtn1 span {
  margin-left: 8px;
  font-size: 15px;
  color: #b9b9b9;
}

/*저장됨 화면 부분*/

.profilePostSaved {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*저장됨 화면 비었을때 이미지*/
.profilePostSavedImg {
  width: 100px;
  height: 100px;
}

/*저장됨 화면 비었을때 안내문구*/
.postSavedSpan {
  width: 80%;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}

/*여기서 부터는 프로필 셋팅 버튼 모달에 대한 부분입니다.*/

.showPosts {
  width: 960px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.showPostImgs {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.showPostImg {
  width: 230px;
  height: 230px;
  background-color: #efefef;
}

/*모달을 감싸는 div*/
.setWrapper,
.setOverlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*모달 클릭시 뒤에 배경색*/
.setOverlay {
  background: rgba(49, 49, 49, 0.8);
}

/*모달 div*/
.setContent {
  width: 550px;
  height: 550px;
  border-radius: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*모달 내 세부 버튼들*/
.setContent-item {
  width: 100%;
  height: 12.5%;
  border-bottom: 1px solid #b6b6b6;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

/*저장된 스토리 보기 부분 CSS*/

/*스토리 보기 전체 감싸는 div*/
.storyWrapper {
  width: 80%;
  height: 90%;
}

/*이전으로 가기위한 버튼 및 안내문구*/
.storyBefore {
  display: flex;
  align-items: center;
}

/*이전버튼 이미지*/
.storyBefore img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
}

/*스토리 안내 헤더부분*/
.storytitle {
  height: 10%;
  /* padding: 15px; */
  border-bottom: 1px solid #b6b6b6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*스토리 안내 이미지부분*/
.storytitle img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

/*저장된 스토리가 보여지는 부분*/
.storyBody {
  height: 77%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.storyBody img {
  width: 80px;
  height: 80px;
  margin-bottom: 50px;
}

.storyBody span {
  width: 50%;
  text-align: center;
}

/*여기서 부터는 다른 유저 프로필 들어갔을때 메세지 보내기 옆 버튼 클릭했을때 뜨는 모달에 관련된 CSS 입니다.*/

.userSetImg img {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

.userSetContent {
  width: 550px;
  height: 550px;
  border: transparent;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.userSetBtns {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userSetBtn {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.userSetRed {
  color: red;
}
