/*언어 설정 페이지를 감싸는 div*/
.LanguageWrapper {
  width: 77%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*언어설정 내역을 감싸는 div*/
.LanguageContent {
  width: 90%;
  height: 650px;
  margin-top: auto;
}

/*언어 기본 설정 타이틀을 감싸는 div*/
.LanguageHeader {
}

/*언어 기본 설정 타이틀*/
.LanguageHeader span {
  font-size: 25px;
}

/**/
.LanguageBody {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.LanguageBody span {
  font-weight: bold;
}

.LanguageBody p {
  color: #737373;
}
.LanguageBody input {
  width: 96.9%;
  padding: 12px;
  border: transparent;
  border-radius: 8px;
  background-color: #efefef;
  outline: none;
}

.LanguageList {
  width: 100%;
  height: 80%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LanguageItem {
  width: 98%;
  max-height: 30px;
  margin-bottom: 3px;
  padding: 6px;
  border: 1px solid transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.LanguageItem:hover {
  background-color: #efefef;
}
.LanguageItem span {
  font-size: 20px;
}

.LanguageItem input {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border-radius: 50%;
  border: 1px solid #b9b9b9;
  content: "";
  appearance: none;
}

.LanguageItem input:checked {
  border: transparent;
  content: url("../../assets//Fictogram/Etc/checkbox.png");
}

/*여기서 부터는 앱 및 웹사이트 부분에 대한 CSS 입니다.*/

.AppWebWrapper {
  width: 77%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AppWebContent {
  width: 1000px;
  height: 600px;
  /* border: 1px solid red; */
}

.AppWebHeader {
  padding: 10px;
  font-size: 25px;
  /* border: 1px solid black; */
}

.AppWebBody {
  /* border: 1px solid black; */
}

.AppWebSelect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.AppWebSelect span {
  width: 33%;
  padding: 12px;
  text-align: center;
  color: black;
  border-bottom: 1px solid dcdcdc;
}

.AppSelectSpan {
  color: #efefef;
  border-bottom: 1px solid #dcdcdc;
}

.AppWebText {
  width: 100%;
  height: 200px;
  /* border: 1px solid black; */
}

.AppWebText p {
  font-size: 15px;
  margin-bottom: 20px;
}

.GrayText {
  font-size: 12px;
  color: #b9b9b9;
}
