/*여기서 부터 Nav 부분 관련 CSS */

/*nav바부분을 감싸는 div*/
.nav {
  width: 19%;
  height: 100%;
  border-right: 1px solid lightgray;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*nav바에서 로고부분 img or text div*/
.navLogo {
  width: 90%;
  height: 10%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/*nav바 로고 명칭 (임시)*/
.navLogo p {
  font-size: 15px;
  margin-left: 25px;
}

/*nav바에서 카테고리별 메뉴 섹션*/
.navMenu {
  width: 90%;
  height: 83%;
}

/*navMenu 카테고리*/
.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*카테고리가 hover 되었을 때*/
.menu-item:hover {
  border-radius: 6px;
  background: #e5e5e5;
}

/*카테고리별 이미지섹션*/
.menu-item img {
  width: 12%;
  height: 100%;
  margin: 0 15px 0 15px;
}

/*카테고리 명칭*/
.menu-item p {
  font-size: 15px;
}

/*카테고리 명칭 갖다 대었을 때*/

.menu-item p:hover {
  cursor: pointer;
}

/*nav바에서 더보기 부분 섹션*/
.navDetail {
  width: 90%;
  height: 7%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navDetail:hover {
  border-radius: 6px;
  background: #e5e5e5;
  cursor: pointer;
}

/*nav바에서 더보기 이미지섹션*/
.navDetail img {
  width: 12%;
  height: 40%;
  margin: 0 15px 0 15px;
}
/*nav바에서 더보기 명칭*/
.navDetail p {
  font-size: 15px;
}

/*여기서 부터는 게시물이 나오는 메인화면 부분입니다.*/

/*mainSection 부분*/
/* .mainSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*더보기 모달창 계정전환&로그아웃 갖다 대었을 때*/
.seeMore-content-items2:hover {
  background-color: #efefef;
}

/*더보기 모달창 계정전환&로그아웃 title*/
.seeMore-content-items2 span {
  margin-left: 20px;
}

/*문제 신고 밑 굵은 구분선*/
.bold-bottom {
  border-bottom: 7px solid #efefef;
}

/*계정전환 , 로그아웃 얇은 구분선*/
.bottom {
  border-bottom: 1px solid #efefef;
}

/*여기서 부터는 게시물이 나오는 메인화면 부분입니다.*/

