/* body.active-modal {
  overflow-y: hidden;
} */

.btn-modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
}

/*모달ㅊ아과, 뒷 배경 기본 셋팅*/

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1;
}

/*모달 실행시 뒷 배경색*/
.overlay {
  background: rgba(49, 49, 49, 0.8);
}

/*모달창 안의 내용이 담기는 부분*/

.modal-content {
  width: 550px;
  height: 550px;
  background-color: #f1f1f1;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  /* padding: 14px 28px; */
}

/*모달창 윗 헤더 부분*/
.modal-header {
  height: 10%;
  border-bottom: 1px solid #b9b9b9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*게시물 등록 사진선택 부분  모달 닫기*/
.close-modal {
  height: 30px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

/*게시물 등록 사진선택 부분 모달 다음페이지*/
.next-modal {
  height: 30px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  color: #0095f6;
  font-size: 14px;
  font-weight: 600;
}

.next-modal:hover {
  color: #00376b;
}

/*게시물 등록 사진선택 body*/
.modal-body {
  height: 89%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*게시물 등록 사진선택 body 세부*/

.modal-imgSelect {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*게시물 등록 사진선택 설명 span*/

.modal-imgSelect span {
  margin: 13px 0;
  font-size: 20px;
}

/*게시물 모달 이미지*/
.modal-body img {
  width: 100px;
  height: 85px;
}

/*게시물 모달 파일첨부 버튼*/
.file-btn {
  width: 130px;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background-color: #0095f6;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

/*여기서 부터는 작성 부분에 해당하는 모달창 */

/*게시물 모달에서 다음 누른 후 작성 모달창 */
.post-content {
  width: 800px;
  height: 510px;
  background: #f1f1f1;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  /* padding: 14px 28px; */
}

/*작성 모달창 body 부분*/
.post-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*작성 모달창 이미지를 감싸는 div*/
.img-wrapper {
  width: 450px;
  height: 459px;
  border-right: 1px solid #b9b9b9;
}

/*작성 모달창 이미지*/
.img-wrapper img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 6px;
  margin: auto;
  object-fit: cover;
}

/*작성 모달창 세부내용*/

.text-wrapper {
  width: 450px;
  height: 450px;
  text-align: center;
}

/*유저 정보가 담기는 부분*/
.post-userInfo {
  width: 100%;
  height: 10%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

/*유저 정보부분에서 이미지, 아이디 담기는 div*/
.post-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*유저 이미지*/
.post-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/*게시물 내용이 담기는 부분*/
.post-main {
  width: 100%;
  height: 40%;
  border-bottom: 1px solid #b9b9b9;
}

/*게시물 작성란*/
.post-main textarea {
  width: 90%;
  height: 90%;
  padding: 10px;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

/*이모티콘 및 텍스트 길이 부분*/
.post-etc {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid #b9b9b9;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*이모티콘 버튼*/
.emoji-btn {
  width: 40px;
  height: 30px;
  margin-left: 5px;
  border: none;
}

/*이모티콘 버튼 이미지*/
.emoji-btn img {
  width: 100%;
  height: 100%;
  margin: auto;

  cursor: pointer;
}

/*텍스트 길이 부분 CSS*/
.post-textLength {
  margin-left: auto;
  margin-right: 10px;
  color: #b9b9b9;
}

/*위치추가 부분*/
.post-location {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid #b9b9b9;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*위치정보 입력 */
.post-location input {
  width: 80%;
  padding: 10px;
  border: none;
  background-color: transparent;
  outline: none;
}

/*지역 관련 이미지*/
.post-location img {
  width: 12px;
  height: 15px;
  margin-left: 30px;
}

/*접근성*/
.post-access {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid #b9b9b9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/*접근성 타이틀*/
.post-access span {
  margin-left: 10px;
}

/*접근성 아래로 내리는 이미지*/
.post-access img {
  width: 18px;
  height: 12px;
}

/*고급설정*/
.post-advanced {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid #b9b9b9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/*고급설정 타이틀*/
.post-advanced span {
  margin-left: 10px;
}

/*고급설정 아래로 내리는 이미지*/
.post-advanced img {
  width: 18px;
  height: 12px;
}

/*여기서 부터는 게시물 클릭시 나오는 모달창 관련 CSS*/

.showPosts {
  height: 100%;
  display: grid;
  /* grid-template-columns: 1fr; */
  /* grid-template-columns: repeat(1, 1fr); */
}

.showPostImgs {
  width: 1020px;
  /* height: 900px; */
  display: grid;
  overflow-y: auto;
}

.showPostImgsItem {
  padding: 10px;
}

.showPostImgsItems {
  width: 1000px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.showPostImg {
  width: 300px;
  height: 300px;
  background-color: #efefef;
}

/*게시물 클릭시 나오는 전체 화면을 감싸는 div*/
.postWrapper,
.postOverlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

/*게시물 오버레이*/
.postOverlay {
  background-color: rgba(49, 49, 49, 0.8);
}

/*게시물 보여주는 모달창 전체를 감싸는 div*/
.postContent {
  width: 1210px;
  height: 730px;
  border: transparent;
  border-radius: 12px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*게시글에 로드된 이미지들을 감싸는 div*/
.postContentItems {
  width: 50%;
  height: 100%;
}

/*게시글에 로드된 이미지를 감싸는 div*/
.postContentItem {
  width: 100%;
  height: 100%;
}

/*게시글 이미지*/
.postContentImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.postBody {
  width: 50%;
  height: 100%;
}

.postBody-user {
  width: 100%;
}

.postBody-userinfo {
  margin-top: 13px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.postBody-userinfo span {
  margin-left: 10px;
  margin-right: auto;
}

.postBody-userinfoImg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.postBody-userImg {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.postBody-userImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.postUserInfo span {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 50px;
}

.postBody-text {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.caption {
  height: 300px;
  padding: 10px;
}

.postDate {
  margin-left: 10px;
  margin-top: 10px;
}

/*게시물 댓글 리스트를 감싸는 div*/
.postCommentsList {
  width: 100%;
  height: 20%;
  overflow-y: auto;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

.postComments {
  width: 98%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* justify-content: space-between; */
}

.postComment span {
  margin-left: 15px;
}

.postComments img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.postComments button > img {
  width: 30px;
  height: 30px;
}

.postComment {
  width: 96%;
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.postFooter {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.postFictos {
  width: 92%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.postBtn img {
  width: 30px;
  height: 30px;
}

.postBtn {
  border: transparent;
  background-color: white;
  cursor: pointer;
}

.postCount {
  height: 4%;
  padding: 10px;
}

.postCommentInputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.postEmoji {
  cursor: pointer;
}

.postEmoji img {
  width: 30px;
  height: 30px;
}

.postTextarea {
  width: 80%;
  height: 20px;
  margin: 0 14px;
  border: transparent;
  font-size: 15px;
  outline: none;
  resize: none;
}

.postCommentBtn button {
  border: transparent;
  background-color: white;
  color: #0095f6;
  font-weight: bold;
  cursor: pointer;
}

/*여기서부터는 게시글 누른후 나오는 세부 버튼에 대한 모달창입니다.*/

.detailWrapper,
.detailOverlay {
  width: 100vw;
  height: 100vh;
  top: -18%;
  left: -21%;
  right: 0;
  bottom: 0;
  position: fixed;
}

.detailOverlay {
  background-color: rgba(49, 49, 49, 0.8);
}

.detailContent {
  width: 550px;
  height: 550px;
  border: transparent;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.detailContentList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.contentList-item {
  width: 100%;
  height: 100%;
  border-top: 1px solid #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.contentList-itemRed {
  color: Red;
  font-weight: bold;
}
